<h5>Voicemail Messages</h5>
<div class="voicemails">
  <% if phone.voicemails.present? %>
    <% phone.voicemails.each do |voicemail| %>
      <div class="voicemail">
        <%= icon name: "play", class: "audio-control" %>
        <%= content_tag :audio, "data-mark-as-read-path" => "/voicemails/#{voicemail.id}/mark_as_read" do %>
          <source src="<%= play_voicemail_path(voicemail) %>" type="audio/mpeg">
        <% end %>
        <%= phone.decorate_number(voicemail.from) %>
        <small>
          <%= voicemail.pretty_created_at %>
        </small>
        <%= flash_label("new", type: "info", class: "unread-label") if voicemail.unread? %>
      </div>
    <% end %>
  <% else %>
    <em>No voicemails</em>
  <% end %>
</div>
