<h3>
    <span class="incoming-number"><%= @phone.incoming_number %></span>
</h3>
<div class="phone row-fluid">
    <div class="phone-controls span4">
        <h4>
            <span class="incoming-number">Browser Phone</span>
        </h4>
        <%= render partial: "call_form" %>
    </div>

    <div class="span4">
        <h4>Voicemail</h4>
        <h5>Greeting</h5>
        <div class="voicemail-greeting">
            <% if @phone.voicemail_greeting.present? %>
                <%= icon name: "play", class: "audio-control icon-2x" %>
                <%= content_tag :audio do %>
                  <source src="<%= @phone.voicemail_greeting %>" type="audio/mpeg">
                <% end %>
            <% else %>
                <em>Call <%= @phone.incoming_number %> from your forwarding number to record a greeting.</em>
            <% end %>
        </div>
        <%= render partial: "voicemail_listing", locals: {phone: @phone} %>
    </div>

    <div class="span4">
        <h4>Settings</h4>
        <%= bootstrap_form_for @phone, url: phone_path(@phone, format: "json"), class: "form-horizontal", remote: true do |f| %>
          <%= f.text_field :forwarding_number, data: {"format-phone-number" => true} %>
          <%= f.on_off :forwarding, labelled: true %>
          <%= f.on_off :voicemail, labelled: true %>
        <% end %>
    </div>
</div>

<% content_for :inline_js do %>
  <script>
    connectPhone("<%= @phone.client.token %>", "<%= "/client_ping/#{@phone.client.identifier}" %>");
  </script>
<% end %>